<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Blog Application{% endblock title %}</title>

    {% load staticfiles %}
    <!-- Bootstrap & Flat UI & jQuery import -->
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/flat-ui.min.js' %}"></script>

    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/flat-ui.css' %}" rel="stylesheet">

    <!-- Custom Script import -->
    {% block add_static %}

    {% endblock add_static %}
</head>
<body>
    <!-- Content -->
    {% block contents %}

    {% endblock contents %}
</body>
</html>
