        {# Post variable is needed! #}
        <!-- Tags Output -->
        <div class="row">
            <div class="col-md-12">
                <h4>Tags</h4>
{#                    {% for tag in post.tags.all %}#}
{#                    {{ tag.name }}#}
{#                    {% if not forloop.last %}, {% endif %}#}
{#                    {% empty %}#}
{#                    No tags.#}
{#                    {% endfor %}#}
                <ul class="list-inline">
                    {% for tag in post.tags.all %}
                        <li>{{ tag.name }}</li>
                    {% empty %}
                    No tags in this post.
                    {% endfor %}
                </ul>
            </div>
        </div>
